body {
    background: #eee;
}

h1, h2, h3, h4, .btn-large, .navbar {
    font-family: 'Roboto Slab';
    text-shadow: 0 0 1px #666;
}

#sidebar, #main {
}

#sidebar h3, #main h1 {
    text-align: center;
}

.accordion-heading {
    box-shadow: 0 0 3px #D3D3D3;
}

#content {
    margin: 20px;
}

#content article {
    margin: 20px 0;
}

#content textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#main-body {
    padding-top:100px;   
}


#logo {
    color:#000000;
    text-decoration:none;
    font-family:'Roboto Slab';
    display:inline-block;
    vertical-align:middle;   
}

footer {
    padding: 10px;
    background-color: #eee;
    color: #666;
    font-family: 'Roboto Slab';
    margin-top: 20px;
}

.color-box {
    height:15px;
    width:15px;
    display:inline-block;
}