body {
	background: #eee;
}

h1, h2, h3, .btn-large {
    font-family: 'Roboto Slab';
}

#sidebar, #main {
}

#sidebar h3, #main h1 {
	text-align: center;
}

#content {
	margin: 20px;
}

#content article {
	margin: 20px 0;
}

#content textarea {
	width: 100%;
	border: none;
	background-color: transparent;
	box-shadow: none;
}

#main-body {
    padding-top:100px;   
}


#logo {
    color:#000000;
    text-decoration:none;
    font-family:'Roboto Slab';
    display:inline-block;
    vertical-align:middle;   
}