body {
    background: #f4f4f4;
}

h1, h2, h3, h4, .btn-large, .navbar {
    font-family: 'Roboto Slab', sans-serif;
    text-shadow: 0 0 1px #666;
    font-weight: 100;
}

#sidebar h3, #main h1 {
    text-align: center;
}

.accordion-heading {
    box-shadow: 0 0 3px #D3D3D3;
}

.accordion-inner {
    background-color: #fff;
}

#content textarea {
    width: 100%;
    border: none;
    box-shadow: none;
}

#brand {
    display:inline-block;
    vertical-align:top;    
}

#bunny {
    display:inline-block;
    margin-top:-15px;    
}

#mobile-bunny {
    float:right; 
    margin-left: 10px;
    height:74px;
    width:74px;
}

#mobile-tag {
    font-size: 11px; 
    margin-top: -3px    
}

#logo {
    color:#000000;
    text-decoration:none;
    font-family:'Roboto Slab', sans-serif;
    display:inline-block;
    vertical-align:middle;
    margin-bottom:20px;
}

#rm-tutorial {
    font-size:12px;
    text-decoration:none;
    background-color:#eee;
    border:0px;
    margin-left:175px;    
}

footer {
    padding: 10px;
    background-color: transparent;
    color: #666;
    font-family: 'Roboto Slab', sans-serif;
    margin-top: 20px;
}

.color-box {
    height:15px;
    width:15px;
    margin-left:-2px;
    transition: width 0.1s;
    display:inline-block;
}

#color-master {
    height:20px;
    transition: height 1s;
    display:inline-block;
    overflow: hidden;
}

#color-master:hover {
    height:60px;
}

#lecture-boxes {
    margin-bottom:20px;
    margin-top:30px;
}

#lecture-boxes form {
    display:inline;
    margin-right:10px;
}