.notebook {
	border: 1px solid #888;
	height: 300px;
	width: 30%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	padding-left: 20px;
	text-align: center;
	background-image: url('spiral_bound.png');
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}

.notebook h3 {
	overflow: hidden;
}

#addNotebook {
	border: 1px dashed #888;
	cursor: pointer;
}

#plus {
	margin-top: 120px;
	color: #888;
}

#addNotebook:hover {
	border-color: #0088cc;
	color: #0088cc;
}

#addNotebook #appendedInputButtons {
	width: 40%;
}
