.notebook {
	border: 1px solid #9f9f9f;
	height: 240px;
	width: 155px;
	float: left;
	margin-right: 25px;
	margin-bottom: 5%;
	padding: 0 10px 0 20px;
	text-align: center;
	background: url('spiral_bound.png') #FFFFFF no-repeat;
    
    box-shadow:3px 1px 5px 0 #d3d2d2;
}

.notebook h3 {
	overflow: hidden;
}

.notebook:hover {
    box-shadow:3px 1px 5px 1px #aaa7a7;
}

#addNotebook {
	border-top: 1px dashed #888;
	border-right: 1px dashed #888;
	border-bottom: 1px dashed #888;
	border-left: none;
	cursor: pointer;
	opacity: 0.5;
	background-color: transparent;
}

#plus {
	margin-top: 120px;
	color: #888;
}

#addNotebook:hover {
	border-color: #0088cc;
	color: #0088cc;
}

#addNotebook #appendedInputButtons {
	width: 40%;
}
