.notebook h3 {
	overflow: hidden;
}

.notebook:hover {
    box-shadow:3px 1px 5px 1px #aaa7a7;
}

#plus {
	margin-top: 120px;
	color: #888;
}

#addNotebook:hover {
	border-color: #0088cc;
	color: #0088cc;
}

#addNotebook #appendedInputButtons {
	width: 40%;
}

.notebook {
    height: 240px;
	width: 155px;
	float: left;
	margin-right: 25px;
	margin-bottom: 5%;
	padding: 0 10px 0 20px;
	text-align: center;
    background-repeat:no-repeat;
    background-position:99% 99.5%, right bottom;
    box-shadow:3px 1px 5px 0 #d3d2d2;
    background-color:#202020;
    border-radius:10px;
}

#addNotebook {
	border: 1px dashed #888;
	cursor: pointer;
	opacity: 0.5;
	background-color: transparent;
	padding: 0 15px;
}