<link rel="import" href="bunny-model.html">
<link rel="import" href="bunny-note.html">

<element name="bunny-list">
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="bunny-list.css">
	<template>
		{% bunnies %}
		<bunny-model id="model" notes="{{notes}}"></bunny-model>
	    <section id="bunnies">
	    	<template repeat="{{notes}}">
	            <article is="bunny-note" content="{{}}"></article><br>
	        </template>
	    </section>
	    <section class="controls">
	    	<textarea id="newBunny" on-keyup="keyAction"></textarea>
	    </section>
	</template>
	<script>
		var ENTER_KEY = 13;
    	var ESC_KEY = 27;
		Polymer.register(this,{
			blurAction: function() {
				this.$.addBunny.style.display = "block";
				this.$.newBunny.style.display = "none";
				this.fire('bunny-added');
			},
			keyAction: function(e, detail, sender) {
				switch (e.keyCode) {
					case ENTER_KEY:
						this.$.model.newBunny(sender);
						Platform.flush();
					case ESC_KEY: 
						sender.value = '';
						break;
				}
			}
		});
	</script>
</element>
