<element name="bunny-model" attributes="notes">
	<script>
		Polymer.register(this,{
			bunnyCount: 2,
			ready: function() {
				this.asyncMethod(function() {
					this.notes = this.notes || [{bid:1,text:"asdfasdf"},{bid:2,text:"asdfasdf"}];
				});
			},
			newBunny: function(note) {
				var text=String(note.value).trim();
				this.bunnyCount++;
				if (text) {
					var bunny = {
						bid: this.bunnyCount,
						context: "run context algorithm",
						text: text
					};
					this.notes.push(bunny);
					this.fire('notes-updated')
				}
				console.log(this.notes);
			}
		}
		);
	</script>
</element>
