<!DOCTYPE html>
<html>
	<head>
		<title>Note Bunnies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
	</head>
	<body>
        
		<div id="navbar" class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
                    <img src="Bunny_4.png">
					<a id="logo" href="/dashboard">
                        Notorious
                    </a>
				</div>
			</div>
		</div>
        
		<div id="main-body" class="container">
			{% block content %}{% endblock %}
		</div>
        
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="bootstrap.js"></script>
	</body>
</html>
