<!DOCTYPE html>
<html>
	<head>
		<title>Note Bunnies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<div class="navbar navbar-static-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">NoteBunnies</a>
					<ul class="nav">
						<li><a href="#">test</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			
					{% block content %}{% endblock %}
   				
		</div>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="bootstrap.js"></script>
	</body>\
</html>
