{% extends 'application.html' %}
{% block content %}

	<div class="row">
	    <div class="span4">
	    	<span class="text-center"><h1><a id="logo" href="/dashboard"><img style="float:right; margin-left: 10px;" src="Bunny_4.png">Notorious <h4>Hop on your notes.</h4></a></h1></span>
	    	<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <h3>Notebooks</h3>
			      </a>
			    </div>
			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">
			        <h4>Your Notebooks:</h4>
                    {% if notebooks|length == 0 %}
                        Get started by adding a notebook to the right.
                    {% endif %}
                    <ul>
                    {% for notebook in notebooks %}
                        <a>
                            <div style="height:15px;width:15px;background-color:#{{notebook.color}};display:inline-block;"></div>
                        </a>
					    <li><a href="notebooks/{{notebook.key.id()}}" class="notebooks">{{ notebook.title }}</a> <a href="/notebooks/rm?notebook-id={{notebook.key.id()}}"><small>[delete]</small></a></li>
					{% endfor %}
                    </ul>
			        <h4>Add New Notebook:</h4>
                    <form action="/notebooks/new" method="post">
                        <div class="input-append">
                            <input class="span2" id="appendedInputButtons" type="text" name="notebook-title" id="notebook-title" placeholder="Notebook Topic">
                            <button class="btn" type="submit">Create</button>
                        </div>
                    </form>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <h3>Lectures</h3>
			      </a>
			    </div>
			    <div id="collapseTwo" class="accordion-body collapse">
			      <div class="accordion-inner">
			      	<h4>Recent Lectures</h4>
			      	<ul>
			      		{% include 'lecture.html' %}
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	    <div class="span1 visible-desktop"></div>
	    <div class="span7 visible-desktop">
	    	{% include 'visualnotebooks.html' %}
	    </div>
	</div>


{% endblock %}