{% extends 'application.html' %}
{% block content %}

    <div class="row">
        <div class="span4">
            <div class="text-center visible-desktop">
                <a id="logo" href="/dashboard">
                    <h1>
                        <div id="brand">
                            Notorious
                            <h4>Hop on your notes.</h4>
                        </div>
                        <div id="bunny">
                            {% include 'Bunny.svg' %}
                        </div>
                    </h1>

                </a>
            </div>
            <div class="text-center hidden-desktop">
                <h3><a id="logo" href="/dashboard"><img id="mobile-bunny" src="Bunny_4.png">Notorious
                    <h5 id="mobile-tag">Hop on your notes.</h5></a></h3>

            </div>
            <div class="accordion" id="accordion2">
                
                <div class="accordion-group">
                    <div class="accordion-heading">
                            <a href="/rmtutorial" type="button" class="close" style="float:right; position: relative; top: 10px; right: 10px">×</a>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseStart">
                            <h3>Get Started </h3>
                        </a>
                    </div>
                    <div id="collapseStart" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <h4>Note-Taking 2.0</h4>
                            <p> 
                                Notorious is an app that allows a group to collaborate to take notes together
                                within a lecture. You can join or create a lecture by creating a new lecture notebook or 
                                entering a Lecture Code in the sidebar.</p>
                            <h4>Collaboration</h4>    
                            <p> 
                                Once in a Lecture, you can open your Lecture Notebook and instantly begin 
                                taking notes. As you type, you will see notes similar to yours that 
                                others have typed, and you can attach them to your own notes.</p>
                            <h4>Organization</h4>
                            <p>
                                When your group is done, your document will be saved in a notebook 
                                created specifically for your lecture, and it will show up on your Dashboard for 
                                you to revisit.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseOne">
                            <h3>Notebooks</h3>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <h4>Lecture Notebooks:</h4>
                            {% if notebooks|length == 0 %}
                                Get started by adding a notebook to the right.
                            {% endif %}
                            <ul class="hidden-phone">
                                {% for notebook in notebooks %}
                                    <div id="color-master">
                                        <a href="notebooks/?lecture_id={{ notebook.lecture_id }}" class="notebooks"
                                           style="color: #{{ notebook.color }};">{{ notebook.title }}</a> <a
                                            href="/notebooks/rm?notebook-id={{ notebook.key.id()}}">
                                        <small>[delete]</small>
                                    </a><br>
                                        <a href="/notebooks/color?notebook_id={{ notebook.key.id()}}&color=1">
                                            <div class="color-box" style="background-color:#00BBA2;"></div>
                                        </a>
                                        <a href="/notebooks/color?notebook_id={{ notebook.key.id()}}&color=2">
                                            <div class="color-box" style="background-color:#F9574A;"></div>
                                        </a>
                                        <a href="/notebooks/color?notebook_id={{ notebook.key.id()}}&color=3">
                                            <div class="color-box" style="background-color:#A4E661;"></div>
                                        </a><br>
                                        <a href="/notebooks/color?notebook_id={{ notebook.key.id()}}&color=4">
                                            <div class="color-box" style="background-color:#FFBF53;"></div>
                                        </a>
                                        <a href="/notebooks/color?notebook_id={{ notebook.key.id()}}&color=5">
                                            <div class="color-box" style="background-color:#86C6FF;"></div>
                                        </a>
                                        <a href="/notebooks/color?notebook_id={{ notebook.key.id()}}&color=6">
                                            <div class="color-box" style="background-color:#D8D8D8;"></div>
                                        </a>
                                    </div>
                                    <br>
                                {% endfor %}
                            </ul>
                            <ul class="visible-phone">
                                {% for notebook in notebooks %}
                                        <a href="notebooks/?lecture_id={{ notebook.lecture_id }}" class="notebooks">{{ notebook.title }}</a> <a
                                            href="/notebooks/rm?notebook-id={{ notebook.key.id()}}"><small>[delete]</small></a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                           href="#collapseTwo">
                            <h3>Lectures</h3>
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <h4>Recent Lectures</h4>
                            {% include 'lecture.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span1 hidden-phone"></div>
        <div class="span7 hidden-phone">
            
            {% include 'visualnotebooks.html' %}
        </div>
    </div>

{% endblock %}