<h3>Your Documents:</h3>
{% if titles|length == 0 %}
    Get started by adding a document to the right.
    {{ titles }}
{% endif %}
{% for title in titles %}
    <a href="{{nb_id}}/{{doc_ids[loop.index0]}}">{{ title }}</a><br>
{% endfor %}

<form action="/document/add" method="post">
    <h3>Add New Document:</h3>
    <input type="hidden" name="notebook-id" id="notebook-id" value="{{nb_id}}">  
    <input type="text" name="document-title" id="document-title" placeholder="Document Title">  
    <br>
    <input type="submit" value="Add">
</form>