<h3>Join Lecture:</h3>
<form action="/lectures/join" method="post">
    <div class="input-append">
		<input class="span2" id="appendedInputButtons" type="text" name="lecture_id" id="lecture_id" placeholder="Enter Code">
		<button class="btn" type="submit">Join</button>
{% if lectures|length == 0 %}
        <h5>No active lectures.</h5>
{% endif %}
{% for lecture in lectures %}
        <h5>- {{ lecture }}</h5><br>
{% endfor %}
	</div>
</form>
<h3>Create Lecture:</h3>
<form action="/lectures/new" method="post">
    <div class="input-append">
		<input class="span2" id="appendedInputButtons" type="text" name="lecture_id" id="lecture_id" placeholder="New Lecture Code">
		<button class="btn" type="submit">Create</button>
	</div>
</form>
{{ message }}