<h3>Lectures starting soon:</h3>
<strong>Lectures starting soon:</strong><br>
{% if lectures|length == 0 %}
    There are no lectures starting within the next 24 hours.
{% endif %}
{% for lecture in lectures %}
    Title: {{ lecture.name }}<br>
    Professor: {{ lecture.professor }}<br>
    Start time: {{ lecture.start_time }}<br>
    <form action="/lectures/{{ lecture.key.id() }}" method="get">
{#        <input type="hidden" name="lecture-id" value={{ lecture.key.id() }}>#}
        <input type="submit" value="Join">
    </form>
{% endfor %}