{% extends 'application.html' %}
{% block content %}

{#    <form action="/register" method="post">#}
{#        Create new document:#}
{#        <label for="document-title">Document name</label> <input type="text" name="document-title" id="document-title">#}
{#        <label for="notebook">Select notebook</label>#}
{#        <select name="notebook" id="notebook">#}
{#            <option value="volvo">Volvo</option>#}
{#            <option value="saab">Saab</option>#}
{#            <option value="mercedes">Mercedes</option>#}
{#            <option value="audi">Audi</option>#}
{#        </select>#}
{#        <input type="submit" value="Submit">#}
{#    </form>#}

{% endblock %}