<link rel="stylesheet" href="visualnotebook.css">
<div class="row">
    <h3>Your Notebooks:</h3>

    {% for notebook in notebooks %}
        <a href="notebooks/{{ notebook.key.id()}}">
            <div class="notebook" style="background-color:#{{ notebook.color }};color:#ffffff">
                <h3>{{ notebook.title }}</h3>
            </div>
        </a>
    {% endfor %}

    <a href="#newNotebook" role="button" data-toggle="modal">
        <div class="notebook" id="addNotebook">
            <div id="plus" style="font-size: 500%;">+<br><br>

                <h3>New Lecture Notebook</h3></div>
        </div>
    </a>

    <!-- Modal -->
    <div id="newNotebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">New Notebook</h3>
        </div>
        <div class="modal-body">
            <h4>Join Existing Lecture</h4>
            <form id="join-lecture">
                <div class="input-append">
                    <input class="span2" id="appendedInputButtons" type="text" name="lecture_id" id="lecture_id"
                           placeholder="Lecture Code">
                    <button class="btn" type="submit">Join</button>
                </div>
            </form>
            <h4>Create New Lecture</h4>
            <form action="/lectures/new" method="post">
                <div class="input-append">
                    <input class="span2" id="appendedInputButtons" type="text" name="lecture_id" id="lecture_id"
                           placeholder="New Lecture Code">
                    <button class="btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
    </form>
</div>

</div>