{% extends 'application.html' %}
{% block content %}
<link rel="stylesheet" href="bunny-editor.css"/>
    <div class="row-fluid">
        <aside class="span3 hidden-phone" id="sidebar">
            <br>
            [Top bunnies here...]
{#        <h3>Online Users</h3>#}
{#        <ul>#}
{#            <li>User 1</li>#}
{#            <li>User 2</li>#}
{#        </ul>#}
{#        <h3>Documents</h3>#}
{#        <ul>#}
{#        {% for document in documents %}#}
{#        <li>{{ document.title }}</li>#}
{#        {% endfor %}#}
{#        <li><a href="#newNotebook" role="button" data-toggle="modal">Add New Document</a></li>#}
{#        </ul>#}
            <!-- Modal -->
{#            <div id="newNotebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"#}
{#                 aria-hidden="true">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
{#                    <h3 id="myModalLabel">New Document</h3>#}
{#                </div>#}
{#                <form action="/documents/add" method="post">#}
{#                    <div class="modal-body">#}
{#                        <div class="input-append">#}
{#                            <input id="appendedInputButtons" type="text" name="document-title"#}
{#                                   id="document-title" placeholder="Document name">#}
{#                            <input type="hidden" id="notebook-id" name="notebook-id" value="{{ notebook_id }}">#}
{#                            <input type="hidden" id="lecture_id" name="lecture_id" value="{{ lecture_id }}">#}
{#                            <button class="btn" type="submit">Add</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
        </aside>
    
    <section class="span9" id="main">
        <h3>Lecture: {{ lecture_id }}</h3>
        <em>[insert num] participants online</em>

        <div id="content">
            <ul id="myBunnies" class="bunnyList"></ul>
            <a class="ane" onclick="edit.newBunny()">Add New Element</a>
            <hr/>
            <ul id="otherBunnies" class="bunnyList"></ul>

            <bunny-list></bunny-list>
        </div>
    </section>
</div>
<!-- Scripts here. Don't remove this ↓ -->
<script src="polymer.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="bunny-editor.js"></script>
<script>
    window.identifiers = {
        document: {{document_id}},
        lecture: "{{lecture_id}}"
    }
    console.log(identifiers);
</script>
<script type="application/javascript">
	var channel = new goog.appengine.Channel('{{streamToken}}');
	var socket = channel.open();
	socket.onopen = function(){
		console.log("Connection opened");
	};
	socket.onmessage = function(message){
		console.log(message);
	};

	var ts = new Date().getTime();
	var myCreator = 1;
	var bunnies = {};
	var edit;
	$.getJSON("/api/getbunnies?document_id="+identifiers.document, function(data) {
					console.log(data);
					var count = 0;
					for (each in data) {
						var bunny = {
							id: each,
							body: data[each].note
						}
						bunnies[each] = bunny;
					}
					console.log(window.bunnies);
					
					$(function() {
						edit = new editor(bunnies,"#myBunnies","#otherBunnies");
						edit.start();
					});
				});

	$("body").on("edited",".bunny",function(e){
		alert(edit.dataFromDOMBunny(this));
		var bunnyData = edit.dataFromDOMBunny(this);
		$.post('/api/update_bunny?note='+bunnyData.body+'&bunny_id='+bunnyData.id, function(data) {
			console.log("EDITTED");
		});
	});

	// PUBLISHED EVENTS
	//   edited: Runs when the content of a bunny changes
	//    added: Runs when a new bunny is added to either list
	//  created: Runs when a new bunny is created in either list
	//  removed: Runs when a bunny is deleted
	//   pulled: Runs when another user's bunny is dragged in
</script>
<link rel="import" href="bunny-list.html">



{% endblock %}
