{% extends 'application.html' %}
{% block content %}
<div class="row-fluid">
    <aside class="span3 hidden-phone" id="sidebar">
        <div class="row-fluid">
            <div class="span12">
                <br>
                <h3>Online Users</h3>
                <ul>
                    <li>User 1</li>
                    <li>User 2</li>
                </ul>
            </div>
        </div>
    </aside>
    {{ lecture_id }}<br>
    {{ document_name }}<br>
{#    <form action="/documents/add" method="post">#}
{#        <div class="input-append">#}
{#            <button class="btn" type="submit">New Document</button>#}
{#        </div>#}
{#    </form>#}
	<section class="span9" id="main">
    <br>
    <div id="content">
        <bunny-list></bunny-list>
    </div>
    </section>
</div>
<!-- Scripts here. Don't remove this ↓ -->
<script src="polymer.min.js"></script>
<script>
    window.identifiers = {
        document: {{document_id}}//,
        //lecture: {{lecture_id}}
    }
    console.log(identifiers);
</script>
<link rel="import" href="bunny-list.html">


{% endblock %}
