.notebook {
	border: 1px solid #888;
	height: 300px;
	width: 180px;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	padding: 0 10px 0 20px;
	text-align: center;
	background-image: url('spiral_bound.png');
	background-color: #FFFFFF;
	background-repeat: no-repeat;
}

.notebook h3 {
	overflow: hidden;
}

#addNotebook {
	border-top: 1px dashed #888;
	border-right: 1px dashed #888;
	border-bottom: 1px dashed #888;
	border-left: none;
	cursor: pointer;
	opacity: 0.5;
	background-color: transparent;
}

#plus {
	margin-top: 120px;
	color: #888;
}

#addNotebook:hover {
	border-color: #0088cc;
	color: #0088cc;
}

#addNotebook #appendedInputButtons {
	width: 40%;
}
